<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <!-- <link rel="stylesheet" href="css/dashboard.css"> -->
     <link rel="stylesheet" href="css/nurse.css">
     <script src="js/nurse_script.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     <script src="sweetalert2.all.min.js"></script>

</head>

<body>
     <div class="top-banner">
          <h1>Welcome to Our Hospital</h1>
     </div>
     <div class="content">
          <div class="sidenav">
               <a href="/">DASHBOARD</a>
      <a href="/patient">Patient</a>
      <a href="/doctor">Doctor</a>
      <a href="/room">Room</a>
      <a href="/nurse">Nurse</a>
      <a href="/appointment">Appointment</a>
      <a href="/prescription_diagnoses">Prescription_Diagnoses</a>
      <a href="/billing_payment">Billing & Payment</a>
      <a href="/report">Generate Report</a>

          </div>
               <div class="box">
                    <div class="tab">
                         <button class="add-button" onclick="showNurseForm()">Add New Nurse</button>
                         <button class="add-button" onclick="showNurseTable()">Show All Nurse</button>
                    </div>
                    <div class="tab">
                         <div class="item">
                              <label for="firstName">First Name</label>
                              <input type="text" id="firstName">
                         </div>
                         <div class="item">
                              <label for="roomNo">Room_No.</label>
                              <input type="number" id="roomNo">
                         </div>
                         <button onclick="filterNurse()">Filter</button>
                         <button onclick="resetFilter()">Reset</button>
                    </div>
                    <div class="common-area">
                         <div class="nurse-form" id="form">
                              <hr>
                              <br>
                              <h2>Add New Nurse</h2>
                              <br>
                              <form id="nurseForm">
                                   <label for="first_name">First Name</label>
                                   <input type="text" id="first_name" name="first_name" required>
                                   <label for="last_name">Last Name</label>
                                   <input type="text" id="last_name" name="last_name" required>
                                   <label for="shift_start">Shift Start</label>
                                   <input type="time" id="shift_start" name="shift_start" required>
                                   <label for="shift_end">Shift End</label>
                                   <input type="time" id="shift_end" name="shift_end" required>
                                   <label for="room_no">Room No.</label>
                                   <input type="number" id="room_no" name="room_no" required>
                                   <input type="button" value="submit" onclick="nurseForm()">
                              </form>
                         </div>
                         <div class="nurse-table" id="table">
                              <table id="nurseTable"></table>
                         </div>
                    </div>
               </div>
          </div>
</body>

</html>